<!DOCTYPE html>
html
  head
    title Batch 5
  body
    include ./layout/header.pug
    div(class='home-container') 
      h1 Welcome to Batch 5 Home Page
      h2 Inspired by You
  include ./layout/footer.pug