link(rel="stylesheet", type="text/css", href="stylesheets/style.css")
header
      h2(class='logo') Batch 5
      nav(class="navigation")
        a(href='/home') Home
        a(href='/register') Register
        a(href='/profile') Profile
        a(href='/contact') Contact
        a(href='/login' class="login-popup") Login